<div ng-click="submitAtten()">


<table class="table table hover">
    <tr>
        <th> NAME </th>
        <th  ><md-datepicker ng-model="date" >  </md-datepicker> </th>
    
    </tr>
<tr ng-repeat="item in arrAtt">
    <td >{{item.name}}   </td>
    <td  ><input type="checkbox" ng-model="item.status"> </td>
    <td  ng-if="item.status">{{"Present"}}  </td>
    
    
    
    </tr>
    
    
</table>

<md-button type="submit" ng-click="water()">Submit</md-button>


</div>





<p>....................................................................................................................................</p>



<!--<table class="table table hover" style="width:90%">
    <caption>
        <h4>ATTENDANCE</h4>
    </caption>
        <tr>
            <th type="text">Full Name</th>
            <th type="Date" >Date</th>
            <th>Present</th>
            <th>Absent</th>
        </tr>  
    
    
    
    
    
    
    <tr>
        <td>Jitu Kharka</td>
            <th type="Date" >{{date | date:"MMM/dd/yyyy"}}</th>
            <td>   <input type="checkbox" td>
            <td>   <input type="checkbox" td>
        </tr>
    
    
    <tr>
        <td>Shrawan Shrestha </td>
            <th type="Date" >{{date | date:"MMM/dd/yyyy"}}</th>
            <td>   <input type="checkbox" td>
            <td>   <input type="checkbox" td>
        </tr>
    
    
    <tr>
        <td>Nikunj  </td>
            <th type="Date" >{{date | date:"MMM/dd/yyyy"}}</th>
            <td>   <input type="checkbox" td>
            <td>   <input type="checkbox" td>
        </tr>
    
    
    <tr>
        <td>Sudeep Shrestha </td>
            <th type="Date" >{{date | date:"MMM/dd/yyyy"}}</th>
            <td>   <input type="checkbox" td>
            <td>   <input type="checkbox" td>
        </tr>
    
    
    <tr>
        <td>Kabir Shrestha </td>
            <th type="Date" >{{date | date:"MMM/dd/yyyy"}}</th>
            <td>   <input type="checkbox" td>
            <td>   <input type="checkbox" td>
        </tr>
    
   
    <tr>
        <td>Bijay Manandar </td>
            <th type="Date" >{{date | date:"MMM/dd/yyyy"}}</th>
            <td>   <input type="checkbox" td>
            <td>   <input type="checkbox" td>
        </tr>
    
    
    <tr>
        <td>Raju </td>
            <th type="Date" >{{date | date:"MMM/dd/yyyy"}}</th>
            <td>   <input type="checkbox" td>
            <td>   <input type="checkbox" td>
        </tr>            
    
</table>

<md-button ng-click="submitForm()">Submit</md-button>-->

