<!DOCTYPE html>
<html>
    <head>
        <title>Angular Project 2</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">
        <link rel="stylesheet" href="/app/styles/styles.css">
        
    </head>
   
   <body ng-app="attendance">
       
        <div ng-controller="mainCtrl">
            
            <password ng-if="!auth"></password>
            
            <student-menu ng-if="auth"></student-menu>           
            
        </div>
        
         
        
        <!--Dependencies-->
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>        
        <script type="text/javascript" src="/node_modules/angular-aria/angular-aria.js"></script>        
        <script type="text/javascript" src="/node_modules/angular-animate/angular-animate.js"></script>        
        <script type="text/javascript" src="/node_modules/angular-material/angular-material.js"></script>
        
        
        
        <!--Custom Javascripts-->        
        <script type="text/javascript" src="/app/scripts/attendance.js"></script>        
        <script type="text/javascript" src="/app/scripts/services/passwordService.js"></script>
        <script type="text/livescript" src="/app/scripts/services/studentService.js"></script>
       <script type="text/livescript" src="/app/scripts/services/attendanceService.js"></script>
        
        <script type="text/javascript" src="/app/scripts/controllers/mainCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/personCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/passwordCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/studentCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/attendanceCtrl.js"></script>
        <script type="text/javascript" src="/app/scripts/controllers/reportCtrl.js"></script>
       
        
        <script type="text/javascript" src="/app/scripts/directives/password.js"></script> 
        <script type="text/javascript" src="/app/scripts/directives/student.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/studentMenu.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/studentList.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/attendance.js"></script>
        <script type="text/javascript" src="/app/scripts/directives/report.js"></script>
        
    </body>
    
</html>