<!DOCTYPE html>
<html>
    <head>
        <title>Angular Project 2</title>
    </head>
    <body ng-app="attendance">
        <h1>Angular Project 2</h1>
        <div ng-controller="mainCtrl">
            From Main Controller->{{testString}}
        </div>
        <div ng-controller="personCtrl">
            From Person Controller->{{person}}
        </div>    
        
        <!--Dependencies-->
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/dist/js/magic.min.js"></script>
        
    </body>
    
</html>