<div id="password-container">
    <div class="container" >
    <form name="password-form">    
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                    <input type="text" placeholder="Enter Username" ng-model="passwordModel.username">
                </md-input-container>

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                    <input type="password" placeholder="Enter Password" ng-model="passwordModel.password">
                </md-input-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
            </div>
        </div>
    </form>
</div>
</div>
