<div class="body">     
    
        <h1>Student Form</h1>
        
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                    <input ng-model="studentformModel.firstname" type="text" placeholder="Enter First Name" >                
                </md-input-container>
            </div>
        </div>            
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                    <input ng-model="studentformModel.lastname" type="text" placeholder="Enter Last Name"> 
                </md-input-container>
            </div> 
        </div>           
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                    <input ng-model="studentformModel.address" type="text" placeholder="Enter Address">
                </md-input-container>
            </div>
        </div>          
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                   <input ng-model="studentformModel.dob" type="text" placeholder="Enter DOB">
                </md-input-container>
            </div>
        </div>           
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                    <input ng-model="studentformModel.phone" type="text" placeholder="Enter Phone Number">
                </md-input-container>
            </div>
        </div>         
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                    <input ng-model="studentformModel.gender" type="text" placeholder="Enter Your Gender"> 
                </md-input-container>
            </div>
        </div>          
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                    <input ng-model="studentformModel.email" type="text" placeholder="Enter Your E-mail">
                </md-input-container>
            </div>
        </div>          
        <div class="row">
            <div class="col-md-2">
                <md-input-container>
                   <input ng-model="studentformModel.gitusername" type="text" placeholder="Enter Your Git Username">
                </md-input-container>
            </div>
        </div>                   
        <div class="row">
            <div class="col-md-2">
                <md-button class="md-raised md-primary" ng-click="submit()">Submit</md-button>                
            </div>
        </div>    
    
</div>